  <?xml version="1.0"?>
  <model>
    <name>mast</name>
    <version>1.0</version>
    <sdf>urdf/mast.urdf</sdf>
    <author>
      <name>Jacob Norman</name>
      <email>jnn13008@student.mdh.se</email>
    </author>
    <description>
      Miniature autonomic solar car
    </description>
  </model>
